<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Carrito</title>
</head>
<body>
  <h1>Detalles del Carrito</h1>
  <h2>Carrito ID: {{ cart.id }}</h2>
  
  <h3>Productos:</h3>
<ul>
  {{#if cart.products.length}}
    {{#each cart.products}}
      <li>
        {{ @index }}.<strong>{{ name }}</strong> - Precio: {{ this.price }} - Categoría: {{ this.category }}
      </li>
    {{/each}}
  {{else}}
    <li>No hay productos en el carrito.</li>
  {{/if}}
</ul>

  </ul>
</body>
</html>
