<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/home.css" />
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="Space">
      {{#if isAuthenticated}}
        <button class="custom-button"><a href="/profile">Profile</a></button>
        <button id="logoutButton" class="custom-button">Logout</button>
      {{else}}
        <button class="custom-button"><a href="/login">Login</a></button>
      {{/if}}
    </div>
    <h1>Lista de Productos</h1>
    <button class="custom-button"><a href="/realtimeproducts">Crear Producto</a></button>
    <button class="custom-button"><a href="/chat">Ir al Chat</a></button>
    <button class="custom-button"><a href="/cart">Ir al Carrito</a></button>

    
    <div class="products">
      {{#each products}}
        <div class="producto">
          <h3>Producto: {{name}}</h3>
          <p>Price: {{price}}</p>
          <p>Description: {{description}}</p>
          <p>Category: {{category}}</p>
        </div>
      {{/each}}
    </div>

    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}"><button
          class="custom-button"
        >Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}"><button
          class="custom-button"
        >Siguiente</button></a>
    {{/if}}
    <br />
    <script type="text/javascript" src="js/home.js"></script>
  </body>
</html>