<html>
  <head>

    <link type="text/css" rel="stylesheet" href="css/product.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="config">

      <div class="create-product">
        {{#if isAdmin}}
          <a href="/realtimeproducts" class="custom-button">Crear Producto</a>
        {{/if}}
      </div>

      <a href="/chat" class="custom-button">Ir al Chat</a>

      <div class="Space">
        {{#if isAuthenticated}}
          <div class="cart">
            <i class="fas fa-shopping-cart icon-cart" id="carritoid"></i>
          </div>
          <a href="/profile" class="custom-button">Profile</a>

        {{else}}
          <a href="/login" class="custom-button">Login</a>
        {{/if}}
      </div>
    </div>
    <div>
      <h1>Lista de Productos</h1>
    <div class="container-fluid text-center">
    
  <div class="row">
    {{#each products}}
    <div class="col-md-4 producto-medium col-sm-6 col-xl-3">
      <div class="producto"> 
        <div class="producto-img">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dviah6ohx/image/upload/v1683161571/Polos/Polo_de_Star_War_iwfhog.webp"
            alt="Producto"
          />
        </div>
        <h5>{{name}}</h5>
        <span>S/{{price}}</span>
        <p>Category: {{category}}</p>
        <div class="add-button">
          <button class="add-to-cart-button" data-product-id="{{_id}}">Agregar al Carrito</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
    </div>

    
        

    <div class="botton-following p-3">{{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button
            class="custom-button"
          >Anterior</button></a>
      {{/if}}

      {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button
            class="custom-button"
          >Siguiente</button></a>
      {{/if}}</div>
    <script type="text/javascript" src="js/addproduct.js"></script>
  </body>
</html>