<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/product.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="Space">
      {{#if isAuthenticated}}
        <a href="/profile" class="custom-button">Profile</a>
        {{! <button id="logoutButton" class="custom-button">Logout</button> }}
      {{else}}
        <a href="/login" class="custom-button">Login</a>
      {{/if}}
    </div>

    <h1>Lista de Productos</h1>
    <a href="/realtimeproducts" class="custom-button">Crear Producto</a>
    <a href="/chat" class="custom-button">Ir al Chat</a>
    <a href="/cart" class="custom-button">Ir al Carrito</a>

    <div class="products">
      {{#each products}}
        <div class="producto">
          <h3>Producto: {{name}}</h3>
          <p>Price: {{price}}</p>
          <p>Description: {{description}}</p>
          <p>Category: {{category}}</p>
        </div>
      {{/each}}
    </div>

    <div class="botton-following">{{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button
            class="custom-button"
          >Anterior</button></a>
      {{/if}}

      {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button
            class="custom-button"
          >Siguiente</button></a>
      {{/if}}</div>

  </body>
</html>