<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/product.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="config">
      <div class="create-product">
        {{#if isAdmin}}
          <a href="/realtimeproducts" class="custom-button">Crear Producto</a>
        {{/if}}
      </div>

      <div class="Space">

        {{#if isAuthenticated}}
          <a href="/cart" class="custom-button">Ir al Carrito</a>
          <a href="/profile" class="custom-button">Profile</a>

        {{else}}
          <a href="/login" class="custom-button">Login</a>
        {{/if}}
      </div>
    </div>

    <h1>Lista de Productos</h1>

    <a href="/chat" class="custom-button">Ir al Chat</a>

    <div class="products">
      {{#each products}}

        <div class="producto">
          <div class="producto-img">
            <img
              src="https://res.cloudinary.com/dviah6ohx/image/upload/v1683161571/Polos/Polo_de_Star_War_iwfhog.webp"
              alt="Producto"
            />
          </div>
          <h3> {{name}}</h3>
          <span>S/{{price}}</span>
          <p>Category: {{category}}</p>
          <div class="add-button">
            <button class="add-to-cart-button" data-product-id="{{_id}}" >Agregar
              al Carrito</button>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="botton-following">{{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button
            class="custom-button"
          >Anterior</button></a>
      {{/if}}

      {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button
            class="custom-button"
          >Siguiente</button></a>
      {{/if}}</div>
    <script type="text/javascript" src="js/addproduct.js"></script>
  </body>
</html>